.body {
    user-select: none;
    .about {
            margin: 2rem 0;
            display: flex;
            user-select: text;
            img {
                margin-left: 1rem;
                width: 70px;
                user-select: none;
                filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
                margin-right: 2rem;
            }
    
            .version {
                display: flex;
                flex-direction: column;
            }
        }
}