.invisibleBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: transparent;
    z-index: 1000001;
}

.bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 40px;
    width: 100%;
    user-select: none;
    padding: 4px;
    .title {
        display: flex;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 12px;
    }
    .operation {
        margin-left: 1rem;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }
    .control {
        z-index: 100;
        display: flex;
        flex-direction: row;
        margin-right: 12px;
    }
    .close {
        transform: rotate(45deg);
    }
}

.mac {
    height: 32px;
    .trafficLights {
        display: flex;
        flex-direction: row;
        margin-left: 4px;
        .light {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 4px;
        }
        .light:active {
            filter: brightness(80%);
        }
    }
}
