.body {
    user-select: none;
    .content {
        padding: 0.5rem;
        .alert {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: var(--colorPaletteYellowBackground2);
                .icon {
                    flex-grow: 0 !important;
                    display: inline;
                }
            }
        
        .option {
            display: flex;
            margin: 1rem 0;
            flex-direction: row;
    
            .description {
                flex-grow: 1;
                margin: 0;
            }
        }
    }
}