:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  overflow: hidden;

  color: #474c57;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.provider {
  background-color: transparent !important;
}

.milkdownHeading.h1 {
  font-size: 2.75em !important;
}

.milkdownHeading.h2 {
  font-size: 2em !important;
}

.milkdownHeading.h3 {
  font-size: 1.75em !important;
}

.milkdownHeading.h4 {
  font-size: 1.5em !important;
}

.milkdownHeading.h5 {
  font-size: 1.25em !important;
}

.milkdownHeading.h6 {
  font-size: 1.125em !important;
}